/*   #photo-viewer {
  display: none;
}
#photo-viewer .photo-box {
  position: relative;
  display: block;
  width: 800px;
  height: 450px;
}
#photo-viewer .photo-box.is-loading::after {
  content: "Loading...";
  position: absolute;
  z-index: 10;
  color: #000;
  top: calc(50% - 20px);
  left: calc(50% - 50px);
}
#photo-viewer .photo-box img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
} 
#photo-viewer .thumbnail img {
  width: 80px;
  height: 45px;
  border-width: 5pc;
  border: 5px solid #555;
}
#photo-viewer .thumbnail img.active {
  width:800px;
  height:450px;
} */ 

#photo-viewer{
  position:relative;
  height: 300px;
  overflow:hidden;
}
#photo-viewer.is-loading:after{
  content: "Loading...";
  position:absolute;
  top:0;
  right:0;
}
#photo-viewer img{
  position:absolute;
  max-width:800px;
  max-height:450px;
  top: 50%;
  left: 250;
  border: 5px solid rgb(51, 8, 223);
}

#thumbnails img{
  
  height:45px;
  width:80px;
  border: 2px solid rgb(10, 10, 10);
 
}

a.active{
  opacity: 0.3;
} 



